/* This is a CSS Stylesheet for David's Awesome Index Project */
/* TABLE OF CONENTS */

* {
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
  background-color: #004358; }

h1 {
  background-color: #004358;
  color: #F2F2F2;
  font-size: 200%;
  text-indent: 7px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 10px 0px 0px 0px; }

h1 span {
  color: #FFE11A;
}


body {
  background-color: #004358;
  color: #F2F2F2;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 7px;
  margin-right 0px;
  padding: 0px 0px 0px 0px; }

#lego {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px; }

#avgButton {
  color: #FD7400;
  margin-top: 7px; }

#avgButton:hover {
  background-color: #FD7400;
  color: #F2F2F2;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);}

#avgButton2 {
  color: #FD7400;
  margin-top: 7px; }

#avgButton2:hover {
  background-color: #FD7400;
  color: #F2F2F2;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);}
